<!DOCTYPE html>
<html lang=en>
  <head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Lato:200,300,400,600,700" rel=stylesheet>
    <link rel=icon href=/favicon.ico>
    <title>To do list</title>
    <link href=css/todolist.css rel=preload as=style>
    <link href=css/todolist.css rel=stylesheet>
  </head>
  <body>
    <div id = app>
      <h1>To do list</h1>
      <div class = "tasks-progress progress-value">Process</div>
      <form  style = "display: inline">
        <input  class = "form-element" type = "text" name = "name" placeholder = "New task?">
        <button class = "button-element">+</button>
      </form>

      <div class = "task-grid">
        <div class = "task pending">
          abc
        </div>
        <div class = "task done">
          def
        </div>
        <div class = "task done">
          ghi
        </div>
        <div class = "task done">
          klm
        </div>
      </div>
  </div>
  </body>
</html>
